# Node modules directory
node_modules/

# Build output directory
build/
dist/

# Log files
*.log

# IDE/editor directories
.vscode/
.idea/

# Miscellaneous
*.min.js
*.bundle.js
*.map
*.d.ts  # TypeScript declaration files
*.js.snap  # Jest snapshot files
