.pos-scroll::-webkit-scrollbar {
  width: 12px;
}

.pos-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.pos-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 206);
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.pos-scroll::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.pos-product-section {
  height: 79vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.pos-product {
  background-color: white;
  border-radius: 15px;
  width: 224px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0 23px 0;
}

.pos-product-card-border {
  border: 1px solid #2900ee;
}

.pos-product img {
  width: 180px;
  height: 120px;
  border-radius: 10px;
}

.pos-product p {
  margin-bottom: 0;
}

.pos-product-title {
  font-weight: bold;
  margin-top: 15px;
}
.pos-product-price {
  color: rgb(150, 145, 172);
  font-weight: bolder;
}

.pos-product-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pos-product-section::-webkit-scrollbar {
  width: 12px;
}

.pos-product-section::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.pos-product-section::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 206);
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.pos-product-section::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.pos-menu-btn {
  height: 3rem;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 16px;
  white-space: nowrap;
  border-radius: 1rem;
  background-color: rgb(238, 235, 254);
  color: rgb(41, 0, 238);
  display: flex;
  align-items: center;
  border: none;
  font-weight: 600;
}

.pos-menu-btn:hover {
  background-color: rgb(224, 218, 252);
}

@media only screen and (min-width: 992px) {
  .pos-product {
    width: 290px;
  }
  .pos-product img {
    width: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .pos-product {
    width: 233px;
  }
  .pos-product img {
    width: auto;
  }
}
@media only screen and (min-width: 1440px) {
  .pos-product {
    width: 224px;
  }
  .pos-product img {
    width: auto;
  }
}
